*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    color: #ffffff;
    background-color: #292d33;
    
    text-align: center;
    padding: 3% 10%;
}
.top>h1{
    margin-bottom: 15px;
    font-family: 'Merriweather', serif;
    font-size: 42px;
}
.top>p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* mid */
.mid{
    display: flex;
    
    
}
.midc{
    
    width: 33.33%;
}
.midcenter{
    
    text-align: center;
    padding: 50px 10px;
    font-family: 'Roboto', sans-serif;
    color: #111111;
   
}
.midcenter>h6{
    font-weight: lighter;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    margin: 10px ;
}
.midcenter>h2{
    font-weight: 700;
    font-size: 1.5rem;
    margin: 10px ;
}
.midcenter>p{
    margin: 15px 25px;
}
.midcenter>a{
    color: #111111;
}

.bottom{
    background: #333333;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.bottom>div{
    display: flex;
    justify-content: center;

}
.bottom>div>a{
    color: #f0d64e;
    margin-right: 3px;
}
@media screen and (max-width:900px){
    .mid{
        flex-direction: column;
    }
    .midc{
        width: 100%;
    }

}